<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Payment Failded!</h1>
    <h2>Reason:</h2>
    <p>PayPal mode is in sandBox mode not on live. Hence no real payment or card is accepted.<br></p>
    <p>If You want to check what happen if payment get successed. Click on given button.</p>
    <div class="centered">
        <form action="/create-order" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn">Payment successed</button>
        </form>
    </div>
    <%- include('../includes/end.ejs') %>